/*estilos comuns*/
*{
    margin: 0;
    padding: 0;
  }
  .navbar-inicio-pos {
    display: flex;
    align-items: center;
    background-color: #BC1818;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 2px 0px 10px black;
  }
  #login-menu-inicio-pos{
    width: 61px;
    height: 40px;
  }
  #cadastro-menu-inicio-pos{
    height: 40px;
  }
  .imglogo-inicio-pos{
    margin-top: 10%;
    width: 237px;
    height: 51.552px;
    flex-shrink: 0;
  }
  #doe-agora-inicio-pos{
    width: 90px;
    height: 35px;
    font-size: 15px;
    border-radius: 8px;
    background: #146DC6;
    border: none;  
    color: #ffffff;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
  }
  #no-doador-inicio-pos{
    width: 133px;
    height: 35px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
  }
  #text-topo-inicio-pos{
    font-family: 'Poppins', sans-serif;
  }
  .topo-site-inicio-pos{
    border-bottom: 2px solid red ;
    display: flex;
  }
  a:hover {
    color: #ffffff;
    text-decoration: underline;
  }
  button:hover {
    transform: scale(1.08);
  }
  .text-doe-sangue-inicio-pos button {
    border: 2px solid #F00;
    background: none;
    border-radius: 8px;
  }
  .textos-inicio-pos {
    background-color: #D9D9D9;
    border-radius: 8px;
  }
  #bolinha_desfocada1-inicio-pos{
    width: 150px;
    height: 150px;
    border-radius: 200px;
    background: #FF8181;
    z-index: 0;
    position: absolute;
    margin-left: 41%;
    filter: blur(70px);
  }
  #direita_inicio-inicio-pos{
    width: 50%;
  }
  .text-doe-sangue-inicio-pos{
    margin-left: 10%;
    z-index: 1;
    position: absolute;
  }
  .text-doe-sangue-inicio-pos h1 {
    color: #D50000;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 32px;
  }
  .textos-inicio-pos{
    border-radius: 5px;
    background: rgba(217, 217, 217, 0.30);
  }
  .seja-parceiro-inicio-pos {
    display: flex;
    justify-content:space-between ;
  }
  .textos-inicio-pos button {
    border: 2px solid #F00;
    border-radius: 8px;
    background-color: #ffffff;
    font-size: 15px;
    width: 150px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-right: 10%;
  }
  .textos-inicio-pos h3 {
    font-size: 32px;
    color: #146DC6;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
  .informacao-inicio-pos{
    width: 100%;
  }
  .textos-inicio-pos h2 {
    font-size: 32px;
    color: #D50000;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
  .escrita-textos-inicio-pos{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }
  .beneficios-inicio-pos {
    display: flex;
  }
  .beneficios-inicio-pos img{
    max-height: 400px;
  }
  footer{
    background: rgba(188, 24, 24, 0.86);
    font-family: 'Poppins', sans-serif;
    height: 200px;
  }
  .footer-content-inicio-pos{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }
  #caminho_rede-inicio-pos{
    margin-left: 10%;
  }
  .icon_insta-inicio-pos, .QR_insta-inicio-pos{
    width: 50px;
    height: 50px;
  }
  #lado_direito_footer-inicio-pos{
    width: 50%;
    margin-right: 20%;
    display: flex;
    gap: 20%;
  }
  
  .rodape-inicio-pos{
    display: inline-flex;
  }
  footer ul{
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  footer h4{
    color: #ffffff;
  }
  footer a{
    color: #ffffff;
    text-decoration: none;
  }
  /* Estilos para telas grandes */
  @media (min-width: 768px) {
    /* Barra suspensa */
    .navbar-inicio-pos {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #BC1818;
      padding: 10px;
    }
    .navbar-bran-inicio-pos img {
      width: 200px;
      height: 50px;
    }
    .menu_item-inicio-pos ul {
      display: flex;
      list-style-type: none;
      margin: 10px;
      padding: 0;
    }
    .menu_item-inicio-pos a {
      color: #ffffff;
    }
    .item-click-inicio-pos,
    .item-click-inicio-pos:visited {
      color: #ffffff;
      text-decoration: none;
      padding: 10px;
    }
    .menu_item-inicio-pos button {
      cursor: pointer;
      background: none;
      border: 1px solid white;
      border-radius: 8px;
      margin-left: 20px;
    }
    .topo-site-inicio-pos {
      display: flex;
      justify-content: space-around;
    }
    .text-doe-sangue-inicio-pos {
      margin-top: 100px;
    }
    .btn-doe-inicio-pos {
      display: flex;
      position: relative;
      right: 25px;
    }
    .text-doe-sangue-inicio-pos button {
      font-size: 20px;
      margin-left: 20px;
    }
    .seja-parceiro-inicio-pos button {
      margin-left: 100px;
    }
    .informacao-inicio-pos {
      margin-top: 70px;
      width: 70vw;
      margin-left: 200px;
    }
  
    .textos-inicio-pos {
      margin-top: 30px;
    }
  
    .textos-inicio-pos h2,
    h3,
    p,
    img {
      
      margin-bottom: 20px;
    }
  
    hr {
      color: #BC1818;
    }
  
  
  }
  
  /* Estilos para dispositivos móveis */
  @media (max-width: 767px )  {
  
    /* Barra suspensa */
    .navbar-inicio-pos {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
    }
  
    .navbar-bran-inicio-pos img {
      width: 150px;
      height: auto;
      margin-bottom: 10px;
    }
  
    #end-inicio-pos{
      display: flex;
      margin-left: 25px;
    }
  
    .menu_item-inicio-pos ul {
      display: flow-root;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  
    .menu_item-inicio-pos button {
      cursor: pointer;
      background: none;
      border: 1px solid white;
      border-radius: 8px;
      margin-left: 50px;
    }
  
    .item-click-inicio-pos,
    .item-click-inicio-pos:visited {
      color: #f0f0f0;
      text-decoration: none;
      padding: 10px;
    }
  
    #imgsangue-inicio-pos {
      width: 300px;
    }
  
    .topo-site-inicio-pos {
      text-align: center;
    }
  
    .btn-doe-inicio-pos {
      font-size: 20px;
      display: flex;
      justify-content: space-evenly;
      border-radius: 8px;
    }
  
    .informacao-inicio-pos {
  
      width: 90vw;
      margin-top: 50px;
      margin-left: 15px;
    }
  
    hr {
      color: #BC1818;
    }
  
  
    .textos-inicio-pos {
      margin-top: 20px;
    }
  
    .beneficios-inicio-pos{
      flex-direction: column;
    }
  
    .beneficios-inicio-pos img {
      max-width: 300px;
      height: 300px;
      
    }
  
    footer a{
      color: #ffffff;
      text-decoration: none;
  
    }
  
  }