*{
    margin: 0%;
    padding: 0%;
  }
  .boby_fundo{
    height: 39.3rem;
    display: flex;
  }
  .img_login_usu{
    width: 48%;
    height: 100%;
  }
  .logo_no_login{
    width: 200px;
    height: 47.841px;
    margin-top: 1%;
    z-index: 1;
    position: absolute;
  }
  .imagem_central_login{
    z-index: 2;
  }
  .identificacao_login_usu{
    width: 50%;
    margin-top: 0px;
  }
  .titulo_do_login{
    width: 110px;
    height: 40px;
    margin-left: 40%;
    margin-top: 0%;
    margin-bottom: 50px;
  }
  .titulo_h1{
    font-size: 40px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #146DC6;
    margin-left: 55%;
  }
  .inputs_do_login{
    margin: 25%;
    margin-top: 5%;
    width: 361px;
  }
  .local_dados{
    margin-bottom: 1%;
    width:361px;
    height:40px;
    border: none;
    outline: none;
    border-bottom: 1px solid #146DC6;
    background:#ffffff;
    font-family: 'Poppins', sans-serif;
    transition: transform 100ms linear;
  }
  #esqueceuSenha_usuario{
    margin-top: 5%;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: #A8A6A6;
  }
  #link_esqueceuSenha{
    text-decoration: none;
    color: #146DC6;
  }
  .Botao_voltar_login{
    width: 100px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid #F00;
    background: rgba(217, 217, 217, 0.00);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-top: 8%;
    font-weight: 300;
    box-shadow: 1px 1px 3px ;
    cursor: pointer;
    transition: transform 100ms linear;
  }
  .Botao_entrar_login{
    width: 100px;
    height: 35px;
    border-radius: 10px;
    background: #146DC6;
    border: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    margin-left: 44%;
    font-weight: 300;
    box-shadow: 1px 1px 3px black;
    cursor: pointer;
    transition: transform 100ms linear;
  }
  .bolinhas_desfocadas{
    width:90px;
    height: 150px;
    border-radius: 150px;
    background: #FF8181;
    filter: blur(70px);
    z-index: 1;
    margin-left: 45%;
    margin-top: 1%;
    position: absolute;
  }
  #dirietalogin{
    z-index: 0;
    margin-left: 5%;
    position: absolute;
    margin-top: 5%;
  }
  .bolinhas_desfocadas_LOGIN2{
    width:90px;
    height: 150px;
    border-radius: 150px;
    background: #FF8181;
    filter: blur(70px);
    z-index: 2;
    margin-left: 0%;
    margin-top: 35%;
    position: absolute;
  }
  .botao_logarRedes{
    width:361px;
    height:40px;
    margin-bottom: 10px;
    background: #FFF;
    border-radius: 5px;
    border: 2px solid #D9D9D9;
    box-shadow: 1px 1px 3px ;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    display: flex;
    cursor: pointer;
    transition: transform 100ms linear;
  }
  #escolhaDe_rede{
    margin-bottom: 15px;
  }
  .icon_redes_login{
    width: 20px;
    height: 20px;
    margin-left: 1%;
    margin-top: 2.5%;
  }
  .texto_botao_rede{
  margin-top: 2.5%;
  margin-left: 25%;
  }
  .Botao_voltar_login:hover{
    transform: scale(1.08);
  }
  .Botao_entrar_login:hover{
    transform: scale(1.08);
  }
  .botao_logarRedes:hover{
    transform: scale(1.08);
  }
  .local_dados:hover{
    transform: scale(1.08);
  }
  .informacao_oculta_login_doador{
    color: #F00;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
  }
  .local_dados:focus{
    border: solid #146DC6;
    color: #146DC6;
    border-radius: 5px;
  }
  @media screen and (max-width: 700px){
  *{
    margin: 0;
    padding: 0;
  }
  .img_login_usu{
    z-index: 0;
    position: absolute;
  }
  .imagem_central_login{
  display: none;
  z-index: 2;
  position: absolute;
  }
  .logo_no_login{
      width: 200px;
      height: 47.841px;
      margin-top: 1%;
      z-index: 1;
      position: absolute;
  }
  #dirietalogin{
    margin-left: 12%;
  }
  .bolinhas_desfocadas{
    margin-left: 70%;
  }
  }
  @media screen and (max-width: 350px){
  
    *{
      margin: 0;
      padding: 0;
    }
    .img_login_usu{
      z-index: 0;
      position: absolute;
    }
    .imagem_central_login{
    display: none;
    z-index: 2;
    position: absolute;
    }
    .logo_no_login{
        width: 120px;
        height: 27.841px;
        margin-top: 1%;
        z-index: 1;
        position: absolute;
    }
    #dirietalogin{
      width: 100%;
      margin-top: 20%;
      align-items: center;
      margin-left: 0%;
    }
    .bolinhas_desfocadas{
      margin-left: 70%;
    }
  .inputs_do_login{
    margin-left: 20%;
    width: 200px;
    margin-top: 0%;
  }
  .local_dados{
    width: 200px;
    height: 20px;
    font-size: 10px;
  }
  .botao_logarRedes{
    width: 200px;
    height: 22px;
    font-size: 10px;
  }
  .Botao_entrar_login{
    margin-left: 26%;
    height: 20px;
    width: 50px;
    font-size: 10px;
    border-radius: 5px;
    margin-top: 5%;
  }
  #esqueceuSenha_usuario{
   font-size: 10px;
  }
  .icon_redes_login{
    height: 15px;
    width: 15px;
    margin-top: 1%;
  }
  .texto_botao_rede{
    margin-top: 1%;
    margin-left: 15%;
  }
  .Botao_voltar_login{
    height: 20px;
    width: 50px;
    font-size: 10px;
    border-radius: 5px;
    margin-top: 0%;
  }
  .titulo_do_login{
    align-items: center;
    margin-left: 30%;
  }
  .titulo_h1{
    margin-left: 0%;
    font-size: 30px;
    margin-top: 22%;
    margin-bottom: 0%;
  }
  .bolinhas_desfocadas_LOGIN2{
    margin-top: 85%;
  }
  }